*{
    margin: 0;
    padding: 0;
}

:root{
    --bg: #F5F5DC;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg)
}

.container{
    background-color: #9e5a10;
    width: 350px;
    height: 350px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
}

.container div{
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-family: 'Pangolin', cursive;

}

h1,h2{
    color: #5c3307;
    font-family: 'Pixelify Sans', cursive;
}

h1{
    font-size: 3rem;
    margin-bottom: 35px;
}

h2{
    margin-top: 20px;
    font-size: 2.5rem;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    height: 50px;
    background-color: #884702;
    border: none;
    border-radius: 10px;
    color: var(--bg);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Pixelify Sans', cursive;
    text-transform: uppercase;
}

